.type {
  display: inline-block;
  width: 400px;
  height: 400px;
  background-color: #fff;
  border: 3px solid black;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  padding-bottom: 1rem;
  margin: 10px;
}

.type:hover {
  box-shadow: 0 0 15px 0 #e5e5e5;
}
.type h3{
    font-size: larger;
}

.type p {
  font-size: 16px;
  font-weight: 500;
  margin: 0.5rem 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  
}

.type img {
    height: 80%;
  width: 100%;
  object-fit: cover;
}

.type .qmeta {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding-right: 6px;
}

.video .qmeta p {
  font-size: 15px;
  font-weight: 400;
}



@media only screen and (max-width: 600px) {
  .video {
    width: 100%;
  }
}
